:root {
  --skriftfarve: #333333;
  --baggrundsfarve: #e0dbca;
  --neon: #59bf61;
  --font: "Scheherazade New";
}

body {
  background-color: var(--baggrundsfarve);
}
.bagvid {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  cursor: pointer;
  position: relative;
  z-index: 5;
  opacity: 0.2;
}

.flex {
  display: flex;
  flex-direction: row;
  background-color: var(--skriftfarve);
}

h1 {
  z-index: 1;
  color: var(--neon);
  font-family: var(--font);
  text-align: center;
  position: absolute;
  top: 40vh;
  left: 5vw;
  z-index: 10;
  font-size: 10vh;
}

h2 {
  z-index: 10;
  color: var(--neon);
  font-family: var(--font);
  position: absolute;
  top: 90vh;
  left: 40%;
  font-weight: bolder;
  cursor: pointer;
  font-size: 5vh;
}

p,
li {
  color: var(--skriftfarve);
  font-family: var(--font);
  font-size: 2.5vh;
  margin-right: 2vw;
}

.introduktion h3,
.introduktion2 h3 {
  color: var(--skriftfarve);
  font-family: var(--font);
  font-weight: bolder;
  font-size: 5vh;
  padding-top: 4vw;
}

.introduktion2 h4 {
  color: var(--skriftfarve);
  font-family: var(--font);
  font-weight: bolder;
  font-size: 3vh;
}

.introduktion {
  margin-top: 7vh;
  margin-left: 10vw;
  width: 80%;
  border: var(--neon) 5px solid;
  display: flex;
  flex-direction: row;
  margin-bottom: 7vh;
  background-color: var(--baggrundsfarve);
}

.introduktion2 {
  margin-top: 7vh;
  margin-left: 10vw;
  width: 80%;
  border: var(--neon) 5px solid;
  margin-bottom: 7vh;
  padding-left: 2vw;
  background-color: var(--baggrundsfarve);
}

.introduktion p,
.introduktion2 p {
  margin-right: 5vw;
}

a {
  text-decoration: none;
}

#projekter,
#kompetencer,
#ommig {
  position: relative;
}

.bagvid:hover,
#projekter:hover,
#kompetencer:hover,
#ommig:hover {
  animation-name: kf_up;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes kf_up {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
    opacity: 1;
  }
}

nav a {
  color: var(--neon);
  font-family: var(--font);
  font-weight: bolder;
  cursor: pointer;
  font-size: 4vh;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  color: var(--skriftfarve);
  text-decoration: underline;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5vw;
  margin-right: 5vw;
}

.afmig {
  width: 50%;
  height: 50%;
  padding: 4vw;
}

.contact,
.cv {
  margin-bottom: 5vw;
}

.social a {
  color: var(--neon);
  font-family: var(--font);
  font-weight: bolder;
  cursor: pointer;
  font-size: 3vh;
  text-decoration: none;
  margin-right: 5vw;
}
.social a:hover {
  color: var(--skriftfarve);
  text-decoration: underline;
}

.social {
  display: flex;
  flex-direction: row;
}

.cv {
  width: 90%;
  height: auto;
}

.flexbox {
  display: flex;
  flex-direction: row;
}

.tools p {
  border: var(--neon) 2px solid;
  padding: 1vw;
  margin-top: 2vw;
  width: 70%;
}

.tools {
  margin-bottom: 5vw;
}

.eks {
  margin-top: 3vw;
  margin-bottom: 12vh;
}

.radio {
  margin-left: 3vw;
}

.radio a {
  color: var(--neon);
  font-family: var(--font);
  font-weight: bolder;
  cursor: pointer;
  font-size: 3vh;
  text-decoration: none;
  margin-right: 5vw;
}
.radio a:hover {
  color: var(--skriftfarve);
  text-decoration: underline;
}

.radio2 a {
  color: var(--neon);
  font-family: var(--font);
  font-weight: bolder;
  cursor: pointer;
  font-size: 3vh;
  text-decoration: none;
  margin-right: 5vw;
}
.radio2 a:hover {
  color: var(--skriftfarve);
  text-decoration: underline;
}
.veatery {
  margin-right: 3vw;
  width: 45%;
  height: auto;
}

.body1 {
  background-image: url(body1.png);
}

.body2 {
  background-image: url(body2.png);
}

.body3 {
  background-image: url(body3.png);
}
