:root {
  --skriftfarve: #333333;
  --baggrundsfarve: #e0dbca;
  --neon: #59bf61;
  --font: "Scheherazade New";
}
.bagvid {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  cursor: pointer;
  position: relative;
  z-index: 5;
  opacity: 0.2;
}

.flex {
  display: flex;
  flex-direction: row;
  background-color: var(--skriftfarve);
}

h1 {
  z-index: 1;
  color: var(--neon);
  font-family: var(--font);
  text-align: center;
  position: absolute;
  top: 40vh;
  left: 5vw;
  z-index: 10;
  font-size: 10vh;
}

h2 {
  z-index: 10;
  color: var(--neon);
  font-family: var(--font);
  position: absolute;
  top: 90vh;
  left: 40%;
  font-weight: bolder;
  cursor: pointer;
  font-size: 5vh;
}

h3 {
  z-index: 0;
  color: var(--skriftfarve);
  font-family: var(--font);
  top: 90vh;
  left: 40%;
}

a {
  text-decoration: none;
}

#projekter,
#kompetencer,
#ommig {
  position: relative;
}

.bagvid:hover,
#projekter:hover,
#kompetencer:hover,
#ommig:hover {
  animation-name: kf_up;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

@keyframes kf_up {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.07);
    opacity: 1;
  }
}
